.swiper {
  max-width: 1186px !important;
  margin-top: -35px;
  padding-top: 10px !important;
  grid-template-columns: repeat(20, 5%);
  display: grid !important;
}

.swiper-wrapper {
  grid-row: 3/4 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  background-position: center;
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  width: 54px !important;
  height: 54px !important;
  margin-bottom: 10px !important;
}

.swiper-button-prev {
  grid-column: 17/18 !important;
  background-image: url('../public/icons/left.svg');
}

.swiper-button-next {
  grid-column: 18/19 !important;
  background-image: url('../public/icons/right.svg');
}